<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobOrganize</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <!-- Header section -->
    <h1>Welcome to Application Form Page</h1>
    <button id="home">Go back to Home</button>
    <br />
    <form>
      <div id="input-container">
        <label for="company-name">Company Name</label>
        <input type="text" name="company-name" id="company-name" />
        <br />

        <label for="job-role-name">Job Role</label>
        <input type="text" name="job-role-name" id="job-role-name" />
        <br />

        <label for="job-posting-url">Job Posting URL</label>
        <input type="text" name="job-posting-url" id="job-posting-url" />
        <br />

        <label for="recruiter-name">Recruiter Name</label>
        <input type="text" name="recruiter-name" id="recruiter-name" />
        <br />

        <label for="recruiter-email">Recruiter Email</label>
        <input type="text" name="recruiter-email" id="recruiter-email" />
        <br />
      </div>
      <button id="add-new-field" type="button">Add New Field</button>
      <button id="submit-btn">Submit</button>
    </form>
    <script src="../renderer/applicationForm.js"></script>
  </body>
</html>
