<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobOrganize</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <main class="container">
      <h1>Welcome to JobOrganize</h1>
      <section class="card-small">
        <button id="select-directories" class="btn-primary">
          Select Directories
        </button>
        <button id="application-form" class="btn-secondary">
          Application Form
        </button>
      </section>
    </main>
    <script src="../renderer/home.js"></script>
  </body>
</html>
