<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobOrganize</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <main class="container">
      <!-- Header section -->
      <h1>Select Directories/Folders</h1>
      <section class="card-small">
        <!-- Select Input Resume Directory -->
        <div class="flex flex-column">
          <h1>Select Source Directory:</h1>
          <button id="select-source" class="btn-secondary">
            Select Source
          </button>
          <div class="flex justify-between">
            <span>Selected:</span>
            <span id="source-dir">No source directory selected</span>
          </div>
        </div>

        <!-- Select Ouput Job Description Directory -->
        <div class="flex flex-column mt-1">
          <h1>Select Destination Directory:</h1>
          <button id="select-dest" class="btn-secondary">
            Select Destination
          </button>
          <div class="flex justify-between">
            <span>Selected:</span>
            <span id="destination-dir">No destination directory selected</span>
          </div>
        </div>
        <button id="home" class="btn-outline-danger mt-2">Cancel</button>
      </section>

      <script src="../renderer/selectDirectories.js"></script>
    </main>
  </body>
</html>
