<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobOrganize</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <!-- Header section -->
    <h1>Welcome to Select Directories Page</h1>
    <button id="home">Go back to Home</button>

    <!-- Select Input Resume Directory -->
    <label for="source-dir">Select Source Directory:</label>
    <button id="select-source">Select Source</button>
    <span id="source-dir">No source directory selected</span>

    <br />

    <!-- Select Ouput Job Description Directory -->
    <label for="dest-dir">Select Destination Directory:</label>
    <button id="select-dest">Select Destination</button>
    <span id="destination-dir">No destination directory selected</span>

    <script src="../renderer/selectDirectories.js"></script>
  </body>
</html>
