@import "../themes/light-theme.scss";

@mixin card-base($width) {
  display: flex;
  flex-direction: column;
  width: $width;
  padding: 2rem;
  gap: 1rem;
  overflow-wrap: break-word;
}

.card {
  &-small {
    @include card-base(20rem);
  }

  &-medium {
    @include card-base(40rem);
  }

  &-large {
    @include card-base(60rem);
  }
}
