@import "../themes/light-theme.scss";

@mixin modal-base($height, $width) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  height: $height;
  width: $width;
  background: $text;
  box-shadow: 0px 2px 5px 0px $neutral;
  border-radius: 10px;
}

.modal {
  @include modal-base($height: 500px, $width: 700px);

  &-sm {
    @include modal-base($height: 5rem, $width: 25rem);
  }
}
